@charset "UTF-8";

body {
    color:rgb(255, 251, 0);
    background-image: url('fundo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(21, 190, 212);
    font-family: 'Homemade Apple' , cursive ;
    text-shadow: 30px 30px 30px rgb(141, 105, 5);
}

header {
    text-align: center;
    text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.582);
}

section {
    background-color: rgba(49, 39, 100, 0.479);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(141, 105, 5, 0.582);
    text-align: center;
    width: 480px;
    margin: auto;
    font-size: 1.3em;
}

input {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(141, 105, 5, 0.582) ;
    font-size: .8em;
    font-weight: bolder;
}

input#botao:hover {
    cursor: pointer;
    background-color: rgb(7, 7, 7);
    color: white;
}

div > img {
    width: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.973);
    margin-top: 10px;
}

div#res {

}

footer {
    text-align: center;
    text-shadow: 30px 30px 50px rgb(255, 255, 255);
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        color:rgb(255, 208, 0);
        background-image: url('fundo.jpg');
        background-position: center;
        background-attachment: fixed;
        background-color: rgb(21, 190, 212);
        font-family: 'Homemade Apple' , cursive ;
        text-shadow: 30px 30px 30px rgb(141, 105, 5);
        text-align: center;
    }

    section {
        width: auto; /* Faça a seção ocupar a largura disponível */
        padding: 10px; /* Reduza o padding para economizar espaço */
        font-size: 1em; /* Ajuste o tamanho da fonte para melhor leitura */
    }

    div > img {
        width: 70%; /* Faça as imagens se redimensionarem para a largura da tela */
        box-shadow: 5px 5px 15px rgba(141, 105, 5, 0.582) ;
    }

}
